<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./templates/head'); %>
</head>
<body>
  <header class="header">
    <%- include('./templates/header'); %>
  </header>
  <main class="main">
    <section class="user">
      <div class="container user__container">
        <div class="user__info info">
          <h2 class="info__title">Ввод данных пользователя</h2>
          <form class="info__form" method="POST" action="/user_input">
            <div class="info__input-block">
              <label class="info__label">
                <span>Имя</span>
                <input class="info__input" type="text" name="name" id="inputName" placeholder="Введите имя">
              </label>
              <label class="info__label">
                <span>Email</span>
                <input class="info__input" type="email" name="mail" id="inputMail" placeholder="Введите email">
              </label>
            </div>
            <button class="info__btn info__btn_modal">Сохранить</button>
            <div class="info__modal">
              <span class="info__question">Вы хотите сохранить данные?</span>
              <div class="info__choice">
                <input class="info__btn" type="submit" value="Сохранить">
                <button class="info__btn info__btn_back">Назад</button>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </section>
    <section class="roster">
      <div class="container roster__container">
        <h2 class="roster__title">Перечень пользователей</h2>
        <table class="roster__list">
          <tr class="roster__item">
              <th class="roster__text"><b>Имя</b></th>
              <th class="roster__text"><b>Почта</b></th>
              <th class="roster__text roster__text_mobile"><b>Дата создания</b></th>
              <th class="roster__text roster__text_mobile"><b>Дата последнего изменения</b></th>
              <th class="roster__text"><b>Редактирование</b></th>
            </tr>
          <% data.users.forEach((user)=> { %>
            <tr class="roster__item">
              <td class="roster__text"><%= user.content.name %></td>
              <td class="roster__text"><%= user.content.mail %></td>
              <td class="roster__text roster__text_mobile"><%= user.content.date %></td>
              <td class="roster__text roster__text_mobile"><%= user.content.editDate %></td>
              <td class="roster__text">
                <a href="/user/<%= user.id %>"  class="roster__edit">Ред.</a>
              </td>
            </tr>
          <% }); %>
        </table>
      </div>
    </section>
  </main>
  <footer class="footer">
    <%- include('./templates/footer'); %>
  </footer>
  <script src="/scripts/main.js"></script>
</body>
</html>